/*-------
Main StyleSheet
--------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

#main-container{
    position: relative;
    width: 100%;
}

#main-container #navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    overflow: hidden;
}

#main-container #navigation .nav-bg{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#main-container #navigation ul{
    position: relative;
    width: 100%;
    padding: 10px 0;
    height: 100%;
    background: linear-gradient(180deg, hsla(299, 84%, 33%, 1) 0%, hsla(349, 49%, 50%, 0.7) 50%);
}

#main-container #navigation ul li{
    list-style: none;
    position: relative;
    width: 100%;
}

#main-container #navigation ul li a{
    position: relative;
    width: 100%;
    display: block;
    display: flex;
    color: #fff;
}

#main-container #navigation ul li a .icon{
    position: relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 24px;
}

#main-container #navigation ul li a .icon-title{
    height: 50px;
    line-height: 50px;
    position: relative;
    display: block;
    font-size: 18px;
}

#main-container #navigation ul li:first-child{
    margin-bottom: 20px;
}

#main-container #navigation ul li:hover{
    background-color: rgba(153, 92, 153, 0.7);
}

#main-container #navigation ul li:first-child:hover{
    background-color: transparent;
}

#main-container #navigation ul li:first-child a .icon{
    font-size: 28px;
    margin-right: 15px;
    color: #999;
}

#main-container #navigation ul li:first-child a .icon-title{
    font-size: 20px;
    color: #999;
    font-weight: 600;
}

#main-container #navigation ul li:hover a .icon,
#main-container #navigation ul li:hover a .icon-title{
    color: rgb(202, 182, 182);
}

#main-container #navigation ul li:first-child:hover a .icon,
#main-container #navigation ul li:first-child:hover a .icon-title{
    color: #999;
}

/*-------
Main Section Style
--------*/
#main-section{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background-color: #eaeeee;
    transition: 0.5s;
}

#main-section.active{
    width: calc(100% - 50px);
    left: 50px;
}

#main-section .header{
    position: relative;
    width: 100%;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding-right: 20px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, .3);
}

#main-container .header .toggler{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container .header .toggler .menu-btn{
    position: relative;
    width: 60px;
    height: 60px;
}

#main-container .header .toggler .menu-btn::after{
    content: "\f0c9";
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

#main-container .header .toggler h4{
    font-size: 26px;
    font-weight: 500;
}

#main-container .header .search{
    position: relative;
    width: 200px;
    height: 30px;
}

#main-container .header .search label input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    outline: none;
    border: 1px solid #999;
    padding: 2px 35px 2px 10px;
    font-size: 14px;
}

#main-container .header .search label::before{
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 35px;
    height: 100%;
    background-color: #f15a5a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#main-container .header .user{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container .header .user .user-img{
    position: relative;
    width: 45px;
    height: 45px;
}

#main-container .header .user .user-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

#main-container .header .user .user-name{
    padding-left: 10px;
}

#main-container .card{
    padding: 20px 20px 35px 20px;
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

#main-container .card .card-content{
    background-color: #f15a5a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .3);
    color: #fff;
}

#main-container .card .card-content h5{
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
}

#main-container .card .card-content span{
    font-size: 16px;
}

#main-container .card .card-content .card-icon{
    font-size: 30px;
}

/*-------
Project Status
--------*/
#main-container .project-status{
    padding: 0 20px 35px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

#main-container .project-status .project-content{
    background-color: #fff;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .3);
    padding: 20px 15px;
}

#main-container .project-status .project-content .project-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#main-container .project-status .project-content .project-head h4{
    font-size: 19px;
}

#main-container .project-status .project-content .project-head .project-head-btn{
    padding: 5px 10px;
    background-color: #f15a5a;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

#main-container .project-status .project-content .project-head .project-head-btn:hover{
    background-color: #c24141;
}

#main-container .project-status .project-content table{
    position: relative;
    width: 100%;
    border-collapse: collapse;
}

#main-container .project-status .project-content table thead tr{
    font-weight: bold;
}

#main-container .project-status .project-content table tr td{
    padding: 10px;
}

#main-container .project-status .project-content table tr td:last-child{
    align-items: center;
}

#main-container .project-status .project-content .project-table tr td:last-child{
    display: flex;
}

#main-container .project-status .project-content table tr td .td-status{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
}

#main-container .project-status .project-content table tr td .td-status.review{
    background-color: #f15a5a;
}

#main-container .project-status .project-content table tr td .td-status.pending{
    background-color: #1f941f;
}

#main-container .project-status .project-content table tr td .td-status.progress{
    background-color: #2b78a5;
}

#main-container .project-status .project-content table tr td .td-status::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 15px;   
    overflow: hidden;  
}

#main-container .project-status .project-content .customer-table tr td:last-child{
    text-align: center;
}

#main-container .project-status .project-content .customer-table tr td i{
    color: #f15a5a;
}

#main-container .project-status .project-content .customer-table tr td .img-box{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

#main-container .project-status .project-content .customer-table tr td.customer-name{
    font-size: 16px;
    font-weight: 600;
}

#main-container .project-status .project-content .customer-table tr td img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---------
Responsive
----------*/
@media (max-width: 992px){

    #main-section {
        width: calc(100% - 50px);
        left: 50px;
    }

    #main-section.active {
        width: calc(100% - 300px);
        left: 300px;
    }

}

@media (max-width: 768px){
    #main-container .card {
        grid-template-columns: repeat(2, 1fr);
    }

    #main-container .header .toggler h4 {
        display: none;
    }

    #main-container .project-status {
        grid-template-columns: 1fr;
    }

    #main-container .project-status .project-content .project-table tr td:last-child {
        justify-content: center;
    }

}

@media (max-width: 480px){

    #main-container #navigation {
        width: 0;
    }

    #main-container #navigation.active {
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    #main-section {
        width: calc(100%);
        left: 0px;
    }

    #main-section.active {
        width: calc(100%);
        left: -300px;
    }

    #main-container .header .toggler{
        z-index: 9999;
    }

    #main-container .header .toggler.active{
        position: fixed;
        right: 0;
    }

    #main-container .header .toggler.active .menu-btn::after{
        color: #fff;
    }

    #main-container .project-status .project-content{
        overflow-x: auto;
    }

    #main-container .card {
        grid-template-columns: 1fr;
    }

    #main-container .project-status .project-content .project-head h4 {
        font-size: 16px;
    }

    #main-container .project-status .project-content .project-head .project-head-btn {
        font-size: 12px;
    }

    #main-container .project-status .project-content table thead tr {
        font-weight: 700;
        font-size: 14px;
    }
    
    

}